.App {
  text-align: center;
}

.home {
  display: flex;
}

.card-products {
  margin: 15px;
  width: 150px;
}

.card-products__image {
  width: 100px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}
